.separatorStyle {
    height: 80%;
    padding-right: 4px;
    padding-left: 4px;
    border-left: 2px solid #000;
    vertical-align: middle;
    margin-left: 50px;
};

@media (max-width:768px) {
    .elementArrival {
        width:42%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}
  
.nameAndCode {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    text-overflow: ellipsis;
}

@media (min-width:768px) {
    .elementArrival {
        width:300px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 24px;
    }
}